<app-header/>
<div class="content">
  <div class="main scroll">
    <div style="display: flex; justify-content: center; font-size: 2rem; color: red;">Thêm mới / cập nhật</div>
    <div *ngIf="deviceId_id ==='0'" class="dang_ky">
      <div class="item">
        <span>Tên thiết bị:</span>
        <input [(ngModel)]="name" style="width: 80%;" placeholder="Nhập tên thiết bị/phòng học"/>
      </div>
      <div class="item">
        <span>Môn:</span>
        <select [(ngModel)]="mon" style="width: 20%;">
          <option *ngFor="let option of mons" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="item">
        <span>Mã hiệu:</span>
        <input [(ngModel)]="code" style="width: 20%;" placeholder="Code"/>
      </div>
      <div class="item">
        <span>Đơn vị:</span>
        <select [(ngModel)]="unit" style="width: 20%;">
          <option *ngFor="let option of units" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="item">
        <span>Giá nhập:</span>
        <input [(ngModel)]="price" style="width: 20%;" type="number" [min]="1"/>
      </div>
      <div class="item">
        <span>Số lượng:</span>
        <select [(ngModel)]="quantity" style="width: 20%;">
          <option *ngFor="let option of quantitys" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="item">
        <span>Trạng thái:</span>
        <select [(ngModel)]="status" style="width: 20%;">
          <option value="MỚI">Mới</option>
          <option value ="CŨ">Cũ</option>
          <option value ="HẾT HẠN">Hết hạn</option>
        </select>
      </div>
      <div class="item">
        <span>Xuất sứ:</span>
        <input [(ngModel)]="location" style="width: 20%;" placeholder="Nơi sản xuất"/>
      </div>
      <div class="item">
        <span>Hạn sử dụng:</span>
        <input [(ngModel)]="hansudung" type="date" style="width: 20%;"/>
      </div>
      <div (click)="create()" class="button">
        Xác nhận
      </div>
      <br/>
      <br/>
      </div>
    <div *ngIf="deviceId_id !=='0'" class="dang_ky">
      <div class="item">
        <span>Tên thiết bị:</span>
        <input [(ngModel)]="name" style="width: 80%;" placeholder="Nhập tên thiết bị/phòng học"/>
      </div>
      <div class="item">
        <span>Môn:</span>
        <select [(ngModel)]="mon" style="width: 20%;">
          <option *ngFor="let option of mons" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="item">
        <span>Mã hiệu:</span>
        <input [(ngModel)]="code" style="width: 20%;" placeholder="Code"/>
      </div>
      <div class="item">
        <span>Đơn vị:</span>
        <select [(ngModel)]="unit" style="width: 20%;">
          <option *ngFor="let option of units" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="item">
        <span>Giá nhập:</span>
        <input [(ngModel)]="price" style="width: 20%;" type="text"/>
      </div>
      <div class="item">
        <span>Số lượng:</span>
        <select [(ngModel)]="quantity" style="width: 20%;">
          <option *ngFor="let option of quantitys" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="item">
        <span>Trạng thái:</span>
        <select [(ngModel)]="status" style="width: 20%;">
          <option value="MỚI">Mới</option>
          <option value ="CŨ">Cũ</option>
          <option value ="HẾT HẠN">Hết hạn</option>
        </select>
      </div>
      <div class="item">
        <span>Xuất sứ:</span>
        <input [(ngModel)]="location" style="width: 20%;" placeholder="Nơi sản xuất"/>
      </div>
      <div class="item">
        <span>Hạn sử dụng:</span>
        <input [(ngModel)]="hansudung" type="date" style="width: 20%;"/>
      </div>
      <div (click)="create()" class="button">
        Xác nhận
      </div>
      <br/>
      <br/>
      </div>
  </div>
    <app-user/>
</div>
<app-footer/>