<div class="footer">
    <!-- <div class="footer_item">
        <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="footer_item">
        <i class="fa-brands fa-square-instagram"></i>
    </div>
    <div class="footer_item">
        <i class="fa-brands fa-github"></i>
    </div>
    <div class="footer_item">
        <i class="fa-brands fa-youtube"></i>
    </div> -->
    <div class="footer_item">
        <div>
            Copyright © 2024 THPT Nguyễn Văn Huyên
        </div>
    </div>
    <div class="footer_item">
        <div>
            Tổ 9, phường An Tường, TP. Tuyên Quang, tỉnh Tuyên Quang
        </div>
    </div>
    <div class="footer_item">
        <div>
            <a #linkRef href="https://github.com/LuongLuyen">
                Design by Luong Luyen PTIT
            </a>
        </div>
    </div>
</div>
