
.loc {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="text"] {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    padding-left: 20px;
  }
  .w_loc {
    padding: 0 10px 0 10px;
  }
/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
  input[type="text"] {
    width: 60px;
    padding-left: 0;
  }
  .w_loc {
    padding: 0;
    margin: 0;
  }

}

@media (min-width: 1020px) and (max-width: 1200px){

} 
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){

} 